
<%- include("partials/header")%>


<h1>Home</h1>

<p>
    <%= homeStartingContent %>
</p>

<p>
    <%= console.log(posts) %>
</p>

<% posts.forEach(post => { %>
        
    <h1><%= post.title %></h1>
    <p><%= post.content.substring(0, 100) + "..." %></p>
<% }) %>

</p>


<%-include("partials/footer")%>


